@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css'); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #695CFE;
  --color-primary-dark: #5448dd;
  --color-secondary:  #90BAAD;
  --color-dark: #272727;
  --color-green: #2ECC71;
  --color-green-dark: #20b35d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--color-dark);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .form-row .input{
    @apply text-lg font-semibold rounded-lg border-2 p-3 w-full outline-none
  }
  .form-row .input:focus{ border-color: var(--color-primary); }
  .btn{
    @apply p-4 text-lg font-semibold;
  }
  .btn-primary{
    @apply text-white rounded-full bg-primary;
  }
  .btn-rounded-0{ @apply rounded-lg }
  .btn-primary:hover{ background: var(--color-primary-dark); }
  .btn-primary:focus{ box-shadow: 0 0 0 4px #695CFE55; background: var(--color-primary-dark); }
  .btn-green{ @apply text-white rounded-full bg-green; }
  .btn-green:hover{ background: var(--color-green-dark); }
  .btn-green:focus{ box-shadow: 0 0 0 4px #2ECC7155; background: var(--color-green-dark); }
  .shimmer{
    @apply absolute inset-0 before:absolute before:inset-0 before:w-full before:h-full before:bg-gradient-to-r before:from-transparent before:via-black/5 before:to-transparent before:animate-[shimmer_1s_infinite] before:rounded-lg overflow-hidden bg-gray-100 rounded-lg
  }
}

.fa {
  font-size: 1.25em; /* Adjust to your desired default size */
}

.bg-primary{ background: var(--color-primary); }
.bg-secondary{ background: var(--color-secondary); }
.bg-green{ background: var(--color-green); }
